
<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="keywords" content="Kalee, Ka lee, Ka Lee Li, KaLee, Kalee Li, KaLee Li">
<meta name="author" content="Kalee">


<!-- Setup Google Analytics -->

<meta name="google-site-verification" content="googleb30ffbb649092bab.html" />
{% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{% endif %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
